/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;

}

body > * {
  /* Old value: rgb(97, 153, 255) */
  background-color: rgb(250, 246, 246);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* header */
/* originally had margin-bottom: 15px;*/
.header {
  font-family: "Baloo Tammudu 2";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(97, 153, 255);
  align-items: center;
  justify-content: space-between;
  /*margin-bottom: 15px;*/
  height: 38px;
}

  /* navbar CSS styles */
  .navbar {
    font-family: "Baloo Tammudu 2";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Old value: rgb(97, 153, 255) */
    background-color: rgb(97, 153, 255);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    /*box-shadow: 1px 5px #c4bebe;*/
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding-top: 5px;
  }
  
  .navbar li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .navbar li a {
    color: black;
  }

  /* OTHER navbar settings */
  /* 
    .navbar {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  .navbar ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  .navbar li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  .navbar a, .navbar span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-decoration: none;
    color: black;
  
  }
  */

  /* nav element properties */
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-decoration: none;
    color: black;
  
  }


/* || typography */

h1, h2, h3 {
  font-family: 'Baloo 2';
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-family: 'Baloo 2';
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  flex: 5;
}

/* affects the h1 font in the header div*/
.header h1 {
  font-family: 'Baloo 2';
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  flex: 5;
  margin-top: 0px; 
}


h2 {
  font-family: 'Baloo 2';
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* welcome section CSS (section 1) index.html */
.welcome{
  /* originally 65% */
  width: 50%;
  margin-top: 15px;
  margin-left: 365px;
  padding: 25px;
  background-color: rgb(97, 153, 255);
  box-shadow: 1px 5px #c4bebe;
}

.welcome h2 {
  background-color: rgb(97, 153, 255);
    padding: 1%;
    font-size: 3.0rem;
}

.welcome-block {
    padding: 1%;
    font-size: 3.0rem;
}

.welcome-block h2 {
  padding: 1%;
  font-size: 3.0rem;
}


  /* || main layout */
  
  .main {
    display: flex;
    flex: 0 0 auto;
    margin-top: 50px;
    margin-bottom: 100px; 
    justify-content: center;
    /*align-items: center;*/
  }

  .main h2{
    padding: 1%;
    font-size: 3.0rem;
  }

  /* article section (section 2) CSS */
  .article, .section {
    /* flex: 4; */
    width: 50%;
    margin-top: 15px;
    margin-left: 300px;
    padding: 25px;
    background-color: rgb(97, 153, 255);
    box-shadow: 1px 5px #c4bebe;
  }

.article-block {
    padding: 1%;
    font-size: 3.0rem;
}

.article-block h2 {
  padding: 1%;
  font-size: 3.0rem;
}

  /* Did You Know? (DYK) section CSS index.html */
  .DYK{
    width: 65%;
    margin-top: 15px;
    margin-left: 100px;
    padding: 10px;
    background-color: rgb(97, 153, 255);
  }

/* aside section (section 3) CSS */
.aside {
  width: 50%;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px;
    background-color: rgb(97, 153, 255);
    box-shadow: 1px 5px #c4bebe;
}

/* centers and resizes the map image */
.aside img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  align-items: center;
}

/* flexbox settings */
.flex-outer {
  margin-left: 0px;
  max-width: 800px;
  margin: 0;
  padding: 0px 16px;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

/* rows and columns */

.row {
  display: flex;
  flex: 0 0 auto;
  margin-top: 50px;
  margin-bottom: 100px; 
  justify-content: center;
}

/* row h2 (heading) settings */
.row h2{
  padding: 1%;
  font-size: 3.0rem;
}

/* Old Row CSS */
/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 100px;
}*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 25px;
  background-color: rgb(97, 153, 255);
  box-shadow: 1px 5px #c4bebe;
}

.column img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  align-items: center;
}

/* footer settings */
.footer {
  background-color: rgb(97, 153, 255);
  text-align: center;
  padding: 5px;
  margin-bottom: 0px;
}