.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 153, 255);
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    
}

h3 {
    font-size: medium;
    color: white;
    
}

p {
    font-size: small;
    color: white;
}